#category-buttons {
    position: fixed;
    bottom: 71px;
    right: 0%;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    background-color: rgba(var(--grey-100), .2);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden;
}

#category-buttons button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s,;
  width:100%;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--grey-500);
  background-color: rgba(var(--grey-100), .2);
}

#category-buttons button:hover {
  text-decoration-color: rgb(var(--grey-600));
  background-color: rgba(var(--grey-100), .3);
}

#category-buttons button:active {
  transform: translateY(0);
}