/* HEADER */
.site-header {
    padding: 0;
    position: sticky; /* stays visible at top */
    top: 0;
    border-bottom: 1px solid var(--grey-600);
    color: var(--grey-500);
    z-index: 9999; /* ensure on top */
}

.nav-left .tooltip:after {
  opacity:0;
  font-size: inherit;
  color:var(--grey-300);
}

.nav-right .tooltip:before {
  opacity:0;
  font-size: inherit;
  color:var(--grey-300);
  content: attr(title);
}

.nav-right .tooltip:hover:before { content: attr(title); opacity:1; color:var(--grey-300); } 
.nav-left .tooltip:hover:after { content: attr(title); opacity:1; color:var(--grey-300); } 


.header-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-left {
  grid-column: 1 / span 3;
}

.logo {
  grid-column: 5 / span 4;
  text-align: center;
  font-size: 1rem;
}

.nav-right {
  grid-column: 10 / span 3;
  text-align: right;
}

/* Mobile menu defaults (hidden) */
.mobile-nav {
  display: none;
  position: absolute;
  top: 100%; /* below header */
  left: 0;
  right: 0;
  font-size: 0.8rem;
  background-color: rgba(var(--grey-100), .2);
  width: fit-content;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
}

.mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 2rem;
}

.mobile-nav li {
  margin: 0.5rem 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-left,
  .nav-right {
    display: none; /* hide desktop nav */
    font-size: 0.8rem;
  }

  .logo {
    grid-column: 1 / span 12;
    text-align: left;
    font-size: 0.8rem;
  }

  .logo a {
    display: inline-block;
    cursor: pointer;
  }

  /* Show menu when active */
  .mobile-nav.active {
    display: block;
  }
}